<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title> <%= htmlWebpackPlugin.options.title %> </title>
<!--  <link rel="stylesheet" href="./app.css" />-->
  <!-- favicons -->

</head>
<body>

</body>
</html>
