@import "~modern-css-reset";

$c-bg: #56513f;

body {
    background: $c-bg;
    color: white;
    font-family: 'Spartan', sans-serif;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    width: 100vw;
    min-height: 100vh ;
    flex-direction: column;
    perspective: 1200px;
}

.logo {
    animation: {
        name: logo;
        iteration-count: infinite;
        duration: 12s;
        timing-function: linear;
    };
    margin-top: 2rem;
    width: 200px;
}

.copy {
    margin-top: 2rem;
    font-size: 0.85rem;

    a {
        text-decoration: none;
        color: white;
    }
}

@keyframes logo {
    0% {
        transform: rotateY(0);
        filter: drop-shadow(0 0 7px rgba(0,0,0,0.5));
    }
    50% {
        filter: drop-shadow(0 0 3px rgba(0,0,0,0.2));
    }
    100% {
        transform: rotateY(360deg);
        filter: drop-shadow(0 0 7px rgba(0,0,0,0.5));
    }
}


